/**Estilos Generales**/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    background-color: #f0fff0;
}

h1 {
    color: #000000;
    font-style:normal;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 16px;
    text-align: center;
}

.title2 {
    color: #02291B;
    font-style:normal;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 16px;
    margin: 0;
    text-align: center;
}

p {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px;
    text-align: center;
}

.parrafoIntro {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px;
    text-align:left;
}

/*Estilos navbar*/
.navbar-brand {
    color: #02754C;
    font-style: normal;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px;
    text-align: center;

}

.nav-link {
    color: #000000;
    font-style: normal;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px;
    text-align: center;
}

/**Estilos del Main Formulario de Contacto**/

.formulario {
    background-color: #02754C;
    color: white;
    padding: 16px;
    border-radius: 8px;
    margin: 16px 20vw 64px 20vw ;
    
    }
   
.formulario h3 {
    color:#ffffff;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    }

.formulario input {
    width: 200px;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    border: none;
    }

.formulario label{
    display: block;
    padding: 8px;
}


.formulario .button {
    display: block;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    border: none;

}

.formulario .button:active {
    display: block;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    color:#02291B;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background-color: #ffd900;
    border: none;

}

label {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
}

/**Estilos Logo**/

#logoMedicheck img:active {
    transition: transform 2s ease-in-out;
}

#logoMedicheck img:hover {
    transform: scale(1.1);
}

/** Estilos del Modal**/

.modal {
    position: fixed !important;
    top: 0 !important;
    margin:0 !important;
    width: 100% !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.3)!important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all .5s !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.modal-active {
    opacity: 1!important;
    visibility: visible!important;
}


#modal-incompatibilidad {
    position: relative;
    background-color: #f0fff0;
    border-radius: 16px;
    min-width: 500px;
    padding: 20px;
    margin-top: -20vh;
    margin-left: 60vh;
    margin-right: 60vh;
    transition: all .5s;
}

#modal-incompatibilidad p {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px;
    text-align:left;
}

#modal-incompatibilidad h3 {
    color: #02291B;
    font-style: normal;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 16px;
    text-align:left;
}

#modal-cerrar {
    background-color: #f0fff0;
    border: none;
}

/**Estilos del footer**/

.pie {
    max-width: 100%;
    margin:16px 0 0;
    background: linear-gradient(-45deg, #02291B, #02754C, #19FFAD);
    background-size: 200% 200%;
    padding: 32px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
    animation-name: footer-gradient;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
   }

.pie p {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    }

.pie i {
    width: 36px;
    text-align: center;
    transform: scale(1.5);
    padding: 0;
    margin:14px 14px;
    color: white;
    transition: color 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.pie i:hover {
    width: 36px;
    transform: scale(1.7);
    padding:0;
    margin:14px 14px;
    color: #ffd900;
}

.pie p {
    margin:0;
    padding:0;
    text-align: center;
    }

.pie a{
    margin:0;
    padding:0;

}

/** Animaciones**/
@keyframes footer-gradient {
    
    0% {
        background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 768px) {
    .formulario {
        background-color: #02754C;
        color: white;
        padding: 16px;
        border-radius: 8px;
        margin: 16px 5vw 64px 5vw ;}
    }